In [1]:
import sys

import pandas as pd
import numpy as np

In [2]:
# 판다스 보기 설정
pd.set_option('display.max_columns', None)
pd.set_option('display.max_row', None)
pd.options.display.float_format = '{:.2f}'.format

In [3]:
# csv 파일 로드
df_case = pd.read_csv('../datas/covid_worldwide.csv')
df_wid = pd.read_csv('../datas/외교부_국가(지역)별 일반현황_20220629.csv', encoding='cp949')
df_world_map=pd.read_excel('../datas/worldcities.xlsx',engine='openpyxl')

In [4]:
# 위도 경도 파일 로드
df_world_map=df_world_map[['country','lat','lng']]
df_world_map=df_world_map.drop_duplicates(['country'])
df_world_map=df_world_map.reset_index(drop=True)
df_world_map=df_world_map.sort_values('country')
df_world_map=df_world_map.rename(columns={'country':'국가명', 'lat' : '위도', 'lng': '경도'})
df_world_map=df_world_map.sort_values('국가명')

In [5]:
# 코로나 집계 데이터 프레임 열 인덱스 재설정
dfc0 = df_case.rename(columns={'Serial Number': '고유번호', 'Country' : '국가명', 'Total Cases' : '확진수',
                        'Total Deaths' : '사망수', 'Total Recovered' : '회복수',
                        'Active Cases': '현발병', 'Total Test': '검사수', 'Population' : '인구'})
print(dfc0.columns)

Index(['고유번호', '국가명', '확진수', '사망수', '회복수', '현발병', '검사수', '인구'], dtype='object')

In [6]:
dfc0

,고유번호,국가명,확진수,사망수,회복수,현발병,검사수,인구
0,1,USA,"104,196,861","1,132,935","101,322,779","1,741,147","1,159,832,679","334,805,269"
1,2,India,"44,682,784","530,740","44,150,289","1,755","915,265,788","1,406,631,776"
2,3,France,"39,524,311","164,233","39,264,546","95,532","271,490,188","65,584,518"
3,4,Germany,"37,779,833","165,711","37,398,100","216,022","122,332,384","83,883,596"
4,5,Brazil,"36,824,580","697,074","35,919,372","208,134","63,776,166","215,353,593"
5,6,Japan,"32,588,442","68,399","21,567,425","10,952,618","92,144,639","125,584,838"
6,7,S. Korea,"30,197,066","33,486","29,740,877","422,703","15,804,065","51,329,899"
7,8,Italy,"25,453,789","186,833","25,014,986","251,970","265,478,247","60,262,770"
8,9,UK,"24,274,361","204,171","24,020,088","50,102","522,526,476","68,497,907"
9,10,Russia,"21,958,696","395,108","21,356,008","207,580","273,400,000","145,805,947"
10,11,Turkey,"17,042,722","101,492",NaN,NaN,"162,743,369","85,561,976"
11,12,Spain,"13,731,478","118,434","13,557,699","55,345","471,036,328","46,719,142"
12,13,Vietnam,"11,526,508","43,186","10,612,479","870,843","85,826,548","98,953,541"
13,14,Australia,"11,295,446","18,615","11,235,771","41,060","78,835,048","26,068,792"
14,15,Argentina,"10,037,135","130,421","9,877,032","29,682","35,716,069","46,010,234"
15,16,Taiwan,"9,569,611","16,356","9,129,766","423,489","30,207,485","23,888,595"
16,17,Netherlands,"8,582,500","22,989","8,547,771","11,740","25,984,435","17,211,447"
17,18,Iran,"7,564,350","144,749","7,337,549","82,052","54,420,785","86,022,837"
18,19,Mexico,"7,368,252","332,198","6,606,633","429,421","19,356,195","131,562,772"
19,20,Indonesia,"6,730,289","160,817","6,565,208","4,264","114,158,919","279,134,505"
20,21,Poland,"6,380,225","118,736","5,335,940","925,549","38,118,630","37,739,785"
21,22,Colombia,"6,356,309","142,486","6,179,501","34,322","36,951,507","51,512,762"
22,23,Austria,"5,780,229","21,689","5,730,189","28,351","211,273,524","9,066,710"
23,24,Greece,"5,708,301","35,630","5,662,212","10,459","102,228,365","10,316,637"
24,25,Portugal,"5,563,907","26,022","5,532,366","5,519","45,915,651","10,140,570"
25,26,Ukraine,"5,370,131","111,020","5,253,302","5,809","32,603,805","43,192,122"
26,27,Chile,"5,118,981","63,812","5,051,555","3,614","48,127,301","19,250,195"
27,28,Malaysia,"5,036,593","36,942","4,989,861","9,790","67,665,089","33,181,072"
28,29,Israel,"4,786,189","12,193","4,768,242","5,754","41,373,364","9,326,000"
29,30,DPRK,"4,772,813",74,"4,772,739",0,NaN,"25,990,679"
30,31,Thailand,"4,726,984","33,865","4,692,636",483,"17,270,775","70,078,203"
31,32,Belgium,"4,691,499","33,557","4,644,681","13,261","36,548,544","11,668,278"
32,33,Czechia,"4,590,019","42,312","4,538,304","9,403","56,893,223","10,736,784"
33,34,Canada,"4,550,256","50,380","4,444,013","55,863","66,343,123","38,388,419"
34,35,Peru,"4,481,621","218,931","4,258,688","4,002","37,754,603","33,684,208"
35,36,Switzerland,"4,385,701","14,452","4,366,770","4,479","23,318,743","8,773,637"
36,37,Philippines,"4,073,454","65,802","3,998,048","9,604","34,343,332","112,508,994"
37,38,South Africa,"4,055,966","102,595","3,912,506","40,865","26,473,049","60,756,135"
38,39,Romania,"3,325,006","67,576","3,252,104","5,326","26,389,988","19,031,335"
39,40,Denmark,"3,173,247","8,145","3,163,849","1,253","129,144,754","5,834,950"
40,41,Hong Kong,"2,877,280","13,358","2,509,483","354,439","76,123,870","7,604,299"
41,42,Sweden,"2,693,458","23,246","2,658,039","12,173","19,410,527","10,218,971"
42,43,Serbia,"2,471,198","17,701","2,440,527","12,970","12,154,486","8,653,016"
43,44,Iraq,"2,465,545","25,375","2,439,497",673,"19,544,451","42,164,965"
44,45,Singapore,"2,217,110","1,722","2,144,490","70,898","24,756,666","5,943,546"
45,46,Hungary,"2,192,447","48,677","2,139,857","3,913","11,394,556","9,606,259"
46,47,New Zealand,"2,182,355","3,781","2,169,320","9,254","7,710,637","4,898,203"
47,48,Bangladesh,"2,037,556","29,442","1,992,694","15,420","15,247,014","167,885,689"
48,49,Slovakia,"1,860,893","20,946","1,839,309",638,"7,390,781","5,460,193"
49,50,Georgia,"1,814,180","16,926","1,776,548","20,706","16,920,079","3,968,738"
50,51,Jordan,"1,746,997","14,122","1,731,007","1,868","17,201,885","10,300,869"
51,52,Ireland,"1,700,253","8,462","1,685,183","6,608","12,984,257","5,020,199"
52,53,Pakistan,"1,576,313","30,640","1,538,689","6,984","30,570,862","229,488,994"
53,54,Norway,"1,477,856","5,112","1,471,835",909,"11,002,430","5,511,370"
54,55,Finland,"1,458,619","8,639","1,447,569","2,411","12,017,711","5,554,960"
55,56,Kazakhstan,"1,405,917","13,695","1,383,020","9,202","11,575,012","19,205,043"
56,57,Slovenia,"1,321,852","7,056","1,311,159","3,637","2,824,843","2,078,034"
57,58,Lithuania,"1,296,865","9,545","1,282,528","4,792","10,350,770","2,661,708"
58,59,Bulgaria,"1,295,426","38,179","1,254,491","2,756","10,987,749","6,844,597"
59,60,Morocco,"1,272,240","16,296","1,255,881",63,"12,930,733","37,772,756"
60,61,Croatia,"1,267,580","17,877","1,249,168",535,"5,476,183","4,059,286"
61,62,Lebanon,"1,228,639","10,790","1,087,587","130,262","4,795,578","6,684,849"
62,63,Guatemala,"1,227,853","20,106","1,204,545","3,202","6,757,892","18,584,039"
63,64,Bolivia,"1,187,986","22,346","1,146,143","19,497","2,705,422","11,992,656"
64,65,Costa Rica,"1,186,176","9,158","860,711","316,307","4,659,757","5,182,354"
65,66,Tunisia,"1,150,356","29,308",NaN,NaN,"4,997,373","12,046,656"
66,67,Cuba,"1,112,438","8,530","1,103,799",109,"14,298,479","11,305,652"
67,68,Ecuador,"1,051,239","35,942","1,011,682","3,615","3,082,403","18,113,361"
68,69,UAE,"1,049,409","2,348","1,032,735","14,326","198,638,806","10,081,785"
69,70,Uruguay,"1,032,710","7,609","1,023,939","1,162","6,114,822","3,496,016"
70,71,Panama,"1,029,701","8,596","1,020,206",899,"7,475,016","4,446,964"
71,72,Mongolia,"1,007,871","2,179","1,005,658",34,"4,030,048","3,378,078"
72,73,Nepal,"1,001,102","12,020","989,064",18,"6,003,944","30,225,582"
73,74,Belarus,"994,037","7,118","985,592","1,327","13,646,641","9,432,800"
74,75,Latvia,"975,355","6,218","968,830",307,"7,858,319","1,848,837"
75,76,Saudi Arabia,"827,962","9,574","815,528","2,860","45,048,008","35,844,909"
76,77,Azerbaijan,"827,944","10,085","817,654",205,"7,487,550","10,300,205"
77,78,Paraguay,"806,256","19,820",NaN,NaN,"2,657,506","7,305,843"
78,79,Bahrain,"700,452","1,543","698,400",509,"10,682,444","1,783,983"
79,80,Sri Lanka,"671,989","16,828","655,158",3,"6,486,117","21,575,842"
80,81,Kuwait,"662,858","2,570","660,237",51,"8,455,743","4,380,326"
81,82,Dominican Republic,"660,095","4,384","644,785","10,926","3,740,928","11,056,370"
82,83,Cyprus,"642,663","1,287","633,422","7,954","9,640,118","1,223,387"
83,84,Myanmar,"633,820","19,490","614,299",31,"9,941,945","55,227,143"
84,85,Palestine,"621,008","5,404","615,445",159,"3,078,533","5,345,541"
85,86,Estonia,"613,891","2,912","524,990","85,989","3,659,157","1,321,910"
86,87,Moldova,"598,673","11,953","504,142","82,578","3,216,305","4,013,171"
87,88,Venezuela,"551,587","5,845","545,003",739,"3,359,014","29,266,991"
88,89,Egypt,"515,645","24,613","442,182","48,850","3,693,367","106,156,692"
89,90,Libya,"507,162","6,437","500,721",4,"2,483,446","7,040,745"
90,91,China,"503,302","5,272","379,053","118,977","160,000,000",NaN
91,92,Ethiopia,"499,531","7,572","486,531","5,428","5,459,809","120,812,698"
92,93,Qatar,"492,534",686,"491,585",263,"4,065,369","2,979,915"
93,94,Réunion,"485,895",919,"418,572","66,404","1,603,660","908,061"
94,95,Honduras,"470,757","11,104",NaN,NaN,"1,619,676","10,221,247"
95,96,Armenia,"446,008","8,717","435,162","2,129","3,242,901","2,971,966"
96,97,Bosnia and Herzegovina,"401,384","16,255","379,084","6,045","1,884,721","3,249,317"
97,98,Oman,"399,449","4,628","384,669","10,152","25,000,000","5,323,993"
98,99,North Macedonia,"346,428","9,638","336,623",167,"2,216,193","2,081,304"
99,100,Kenya,"342,810","5,688","337,040",82,"3,967,062","56,215,221"
100,101,Zambia,"340,763","4,047","335,104","1,612","3,865,993","19,470,234"
101,102,Albania,"334,167","3,595","328,951","1,621","1,941,032","2,866,374"
102,103,Botswana,"329,227","2,800","325,934",493,"2,026,898","2,441,162"
103,104,Luxembourg,"297,757","1,133","288,991","7,633","4,412,567","642,371"
104,105,Montenegro,"286,355","2,797","283,210",348,"2,697,814","627,950"
105,106,Brunei,"275,220",225,"243,601","31,394","717,784","445,431"
106,107,Algeria,"271,378","6,881","182,749","81,748","230,861","45,350,148"
107,108,Nigeria,"266,463","3,155","259,850","3,458","5,708,974","216,746,934"
108,109,Zimbabwe,"261,606","5,652","254,951","1,003","2,525,756","15,331,428"
109,110,Uzbekistan,"250,567","1,637","241,486","7,444","1,377,915","34,382,084"
110,111,Mozambique,"231,994","2,233","228,805",956,"1,371,127","33,089,461"
111,112,Martinique,"229,687","1,097",NaN,NaN,"828,928","374,087"
112,113,Laos,"217,973",758,NaN,NaN,"1,233,207","7,481,023"
113,114,Iceland,"208,688",229,NaN,NaN,"1,996,384","345,393"
114,115,Afghanistan,"208,545","7,882","186,088","14,575","1,188,898","40,754,388"
115,116,Kyrgyzstan,"206,592","2,991","196,406","7,195","1,907,195","6,728,271"
116,117,El Salvador,"201,785","4,230","179,410","18,145","2,610,114","6,550,389"
117,118,Guadeloupe,"201,394","1,007",NaN,NaN,"938,039","399,794"
118,119,Trinidad and Tobago,"187,908","4,326","183,264",318,"888,936","1,406,585"
119,120,Maldives,"185,715",311,"163,687","21,717","2,213,831","540,985"
120,121,Ghana,"171,112","1,462","169,636",14,"2,527,319","32,395,450"
121,122,Namibia,"170,741","4,088","166,452",201,"1,062,663","2,633,874"
122,123,Uganda,"170,400","3,630","100,431","66,339","3,012,408","48,432,863"
123,124,Jamaica,"153,407","3,480","102,212","47,715","1,183,986","2,985,094"
124,125,Cambodia,"138,693","3,056","135,624",13,"3,091,420","17,168,639"
125,126,Rwanda,"133,090","1,468","131,559",63,"5,959,042","13,600,464"
126,127,Cameroon,"123,993","1,965","118,616","3,412","1,751,774","27,911,548"
127,128,Malta,"117,062",824,"115,623",615,"2,109,235","444,033"
128,129,Barbados,"106,157",571,"105,570",16,"790,354","288,023"
129,130,Angola,"105,184","1,931","103,216",37,"1,499,795","35,027,343"
130,131,Channel Islands,"101,116",223,"100,778",115,"1,252,808","176,463"
131,132,French Guiana,"98,028",420,"11,254","86,354","651,257","314,169"
132,133,DRC,"95,514","1,463","84,264","9,787","846,704","95,240,792"
133,134,Senegal,"88,902","1,971","86,929",2,"1,146,543","17,653,671"
134,135,Malawi,"88,559","2,686","85,369",504,"624,784","20,180,839"
135,136,Ivory Coast,"87,982",833,"87,138",11,"1,671,684","27,742,298"
136,137,Suriname,"82,020","1,398",NaN,NaN,"239,603","596,831"
137,138,New Caledonia,"79,845",314,"79,526",5,"98,964","290,915"
138,139,French Polynesia,"77,957",649,NaN,NaN,NaN,"284,164"
139,140,Eswatini,"74,133","1,422","72,676",35,"1,048,704","1,184,817"
140,141,Guyana,"72,950","1,294","71,357",299,"717,867","794,045"
141,142,Belize,"70,660",688,"69,949",23,"576,016","412,190"
142,143,Fiji,"68,820",883,"66,780","1,157","667,715","909,466"
143,144,Madagascar,"67,827","1,419","66,370",38,"524,209","29,178,077"
144,145,Sudan,"63,742","5,001","58,284",457,"562,941","45,992,020"
145,146,Mauritania,"63,665",997,"62,437",231,"1,009,957","4,901,981"
146,147,Cabo Verde,"63,229",413,"62,756",60,"401,622","567,678"
147,148,Bhutan,"62,605",21,"61,564","1,020","2,303,734","787,941"
148,149,Syria,"57,453","3,164","54,289",0,"146,269","19,364,809"
149,150,Burundi,"53,492",38,"53,394",60,"345,742","12,624,840"
150,151,Seychelles,"50,665",172,"50,440",53,NaN,"99,426"
151,152,Gabon,"48,981",306,"48,674",1,"1,621,909","2,331,533"
152,153,Andorra,"47,839",165,"47,563",111,"249,838","77,463"
153,154,Papua New Guinea,"46,750",670,"43,982","2,098","249,149","9,292,169"
154,155,Curaçao,"45,986",295,"44,720",971,"496,693","165,529"
155,156,Aruba,"43,993",236,"42,438","1,319","177,885","107,609"
156,157,Tanzania,"42,664",846,NaN,NaN,NaN,"63,298,550"
157,158,Mayotte,"42,002",188,NaN,NaN,"176,919","286,259"
158,159,Mauritius,"41,652","1,043","39,943",666,"358,675","1,274,727"
159,160,Togo,"39,354",290,"39,061",3,"806,803","8,680,837"
160,161,Guinea,"38,240",467,"37,757",16,"660,107","13,865,691"
161,162,Isle of Man,"38,008",116,NaN,NaN,"150,753","85,732"
162,163,Bahamas,"37,491",833,"36,366",292,"257,839","400,516"
163,164,Lesotho,"34,790",723,"25,980","8,087","431,221","2,175,699"
164,165,Faeroe Islands,"34,658",28,NaN,NaN,"778,000","49,233"
165,166,Haiti,"34,076",860,"33,033",183,"132,422","11,680,283"
166,167,Mali,"32,783",743,"31,957",83,"789,342","21,473,764"
167,168,Cayman Islands,"31,472",37,"8,553","22,882","222,773","67,277"
168,169,Saint Lucia,"29,803",409,"29,095",299,"210,983","185,113"
169,170,Benin,"27,989",163,"27,823",3,"604,310","12,784,726"
170,171,Somalia,"27,318","1,361","13,182","12,775","400,466","16,841,795"
171,172,Congo,"25,375",386,"24,006",983,"347,815","5,797,805"
172,173,Solomon Islands,"24,575",153,NaN,NaN,NaN,"721,159"
173,174,San Marino,"23,427",122,"23,276",29,"157,634","34,085"
174,175,Timor-Leste,"23,415",138,"23,102",175,"278,529","1,369,429"
175,176,Micronesia,"22,676",58,NaN,NaN,"54,967","117,489"
176,177,Burkina Faso,"22,025",396,"21,596",33,"248,995","22,102,838"
177,178,Liechtenstein,"21,340",89,"21,237",14,"112,457","38,387"
178,179,Gibraltar,"20,399",111,"16,579","3,709","534,283","33,704"
179,180,Grenada,"19,680",238,"19,358",84,"182,981","113,475"
180,181,Bermuda,"18,766",157,"18,593",16,"1,024,947","61,939"
181,182,Nicaragua,"18,491",225,"4,225","14,041",NaN,"6,779,100"
182,183,South Sudan,"18,368",138,"18,115",115,"410,280","11,618,511"
183,184,Tajikistan,"17,786",125,"17,264",397,NaN,"9,957,464"
184,185,Equatorial Guinea,"17,190",183,"16,883",124,"365,697","1,496,662"
185,186,Tonga,"16,734",13,"15,638","1,083","535,009","107,749"
186,187,Samoa,"16,087",29,"1,605","14,453","187,397","202,239"
187,188,Monaco,"16,056",65,"15,982",9,"78,646","39,783"
188,189,Dominica,"15,760",74,"15,673",13,"229,344","72,344"
189,190,Djibouti,"15,690",189,"15,427",74,"305,941","1,016,097"
190,191,Marshall Islands,"15,584",17,"15,528",39,NaN,"60,057"
191,192,CAR,"15,368",113,"15,200",55,"81,294","5,016,678"
192,193,Gambia,"12,586",372,"12,189",25,"155,686","2,558,482"
193,194,Saint Martin,"12,233",63,"1,399","10,771","112,382","39,730"
194,195,Vanuatu,"12,014",14,"11,976",24,"24,976","321,832"
195,196,Greenland,"11,971",21,"2,761","9,189","164,926","56,973"
196,197,Yemen,"11,945","2,159","9,124",662,"329,592","31,154,867"
197,198,Caribbean Netherlands,"11,661",38,"10,476","1,147","30,126","26,647"
198,199,Sint Maarten,"11,010",89,"10,905",16,"62,056","43,966"
199,200,Eritrea,"10,189",103,"10,086",0,"23,693","3,662,244"
200,201,Niger,"9,931",312,"8,890",729,"254,538","26,083,660"
201,202,St. Vincent Grenadines,"9,585",123,"9,454",8,"113,504","111,551"
202,203,Antigua and Barbuda,"9,106",146,"8,954",6,"18,901","99,509"
203,204,Comoros,"8,992",161,"8,827",4,NaN,"907,419"
204,205,Guinea-Bissau,"8,947",176,"8,656",115,"145,231","2,063,367"
205,206,Liberia,"8,062",294,"7,766",2,"139,824","5,305,117"
206,207,Sierra Leone,"7,760",126,NaN,NaN,"259,958","8,306,436"
207,208,Chad,"7,652",194,"4,874","2,584","191,341","17,413,580"
208,209,British Virgin Islands,"7,305",64,NaN,NaN,"107,339","30,596"
209,210,Cook Islands,"7,011",2,"6,993",16,"19,690","17,571"
210,211,Saint Kitts and Nevis,"6,592",46,"6,537",9,"126,903","53,871"
211,212,Turks and Caicos,"6,522",38,"6,451",33,"611,527","39,741"
212,213,Sao Tome and Principe,"6,280",77,"6,202",1,"29,036","227,679"
213,214,Palau,"5,986",9,"5,976",1,"68,820","18,233"
214,215,St. Barth,"5,420",6,NaN,NaN,"78,646","9,945"
215,216,Kiribati,"5,008",18,"2,703","2,287",NaN,"123,419"
216,217,Nauru,"4,621",1,"4,609",11,"20,509","10,903"
217,218,Anguilla,"3,904",12,"3,879",13,"51,382","15,230"
218,219,Macao,"3,488",120,"3,357",11,"7,850","667,490"
219,220,Saint Pierre Miquelon,"3,452",2,"2,449","1,001","25,400","5,759"
220,221,Wallis and Futuna,"3,427",7,438,"2,982","20,508","10,982"
221,222,Tuvalu,"2,805",NaN,NaN,"2,805",NaN,"12,066"
222,223,Saint Helena,"2,166",NaN,2,"2,164",NaN,"6,115"
223,224,Falkland Islands,"1,930",NaN,"1,930",0,"8,632","3,539"
224,225,Montserrat,"1,403",8,"1,376",19,"17,762","4,965"
225,226,Niue,747,NaN,746,1,NaN,"1,622"
226,227,Diamond Princess,712,13,699,0,NaN,NaN
227,228,Vatican City,29,NaN,29,0,NaN,799
228,229,Western Sahara,10,1,9,0,NaN,"626,161"
229,230,MS Zaandam,9,2,7,0,NaN,NaN
230,231,Tokelau,5,NaN,NaN,5,NaN,"1,378"

In [9]:
# 정수형 변환을 위해 특수문자 제거, 인덱스 설정, NaN값 자료행 제거
dfc0 = dfc0.replace(',','', regex=True) 
dfc0 = dfc0.set_index(['국가명'])

In [ ]:
for i in dfc0.columns:
    dfc0[i]=dfc0[i].astype('float')

In [ ]:
for a in dfc0.index:
    if np.isnan(dfc0.loc[a,'회복수']):
        dfc0.loc[a,'회복수'] = dfc0.loc[a,'확진수']-dfc0.loc[a,'사망수']
dfc0

In [ ]:
dfc0.drop(['고유번호','현발병'], axis=1, inplace=True)
dfc0
dfc=dfc0.dropna()

In [ ]:
# 각 요소를 정수형으로 변환
for i in dfc.columns:
    dfc[i]=dfc[i].astype('int')

In [ ]:
# 자료숫자가 매우 적은 행(나라) 제거
dfc.drop(dfc[dfc['인구']  < (dfc['인구'].mean()*0.05)].index, inplace=True)

In [ ]:
dfc

In [ ]:
dfc_fin = dfc.copy()
dfc_fin
# 면적 자료 데이터프레임 설정 및 가공
dw1= df_wid[['영문 국가명','면적']]
dw1=dw1.rename(columns={'영문 국가명' : '국가명'})
dw1
# merge 위해 위의 자료의 인덱스를 다시 열로 설정
dfc_fin=dfc_fin.reset_index()
dfc_fin

In [ ]:
# 면적과 위경도 데이터프레임 일괄 병합
dft = pd.merge(dfc_fin,df_world_map,how='outer',on='국가명')
dft = dft.set_index(['국가명'])
dft = pd.merge(dft,dw1, how ='outer', on = '국가명')
dft = dft.set_index(['국가명'])
dft

In [ ]:
# 일부 주요나라 누락자료(면적) 입력을 위한 딕셔너리 생성 - 수작업
C = {'UAE': 83600 , 'Hong Kong': 1114, 'UK':243610 , 'Czechia':78867, 'Italy':302072, 'S. Korea': 100210,
     'USA': 9830000,'Papua New Guinea': 452860, 'CAR' : 623000, 'DRC':2345408, 'Burundi' :  27834}

In [ ]:
# 누락된 면적 요소 삽입
for a in dft.index:
    if a in C:
        dft.loc[a]['면적'] = C[a]

In [ ]:
# 국가별 누락 데이터 딕셔너리 (위경도)
dict_loc = {'UAE':[23.7139,54.3035], 'CAR': [6.5741,20.4869], 'DRC' : [-2.6046, 22.2650], 'Congo':[-2.9244, 23.7446],
            'Gambia' :[13.4363, -15.4027],'North Macedonia' : [41.6505, 21.6511], 'USA' :[39.5265, -102.0569],
            'UK' :[54.9817, -2.8012], 'S. Korea':[37.5666, 126.9780]}

In [ ]:
# 위경도 요소 삽입
for nat in dft.index:
    if nat in dict_loc:
        dft.loc[nat]['위도'] = dict_loc[nat][0]
        dft.loc[nat]['경도'] = dict_loc[nat][1]
        
dft

In [ ]:
# 누락데이터 행 제거
df_tot = dft.dropna()

In [ ]:
df_tot

In [ ]:
# 확진률 (확진수/검사수)
# 사망률 (사망수/확진수)
# 회복률 (회복수/확진수)
# 검사율 (검사수/인구)
# 열 추가 함수

col_dict = {'확진수':'검사수', '사망수':'확진수', '회복수': '확진수', '검사수':'인구'}

for j in col_dict:
    j = str(j)
    T = []
    for i in df_tot.index:
        i = str(i)
        T.append(df_tot.loc[i,j]/df_tot.loc[i,str(col_dict[j])]*100)
    df_tot[f'{j}율']= T

In [ ]:
# 정렬
df_tot = df_tot.sort_values(by='검사수율', ascending=False)

In [ ]:
def pop_den(df):  # 인구밀도 열 추가 함수
    T =[]
    for i in df.index:
        T.append(df.loc[i]['인구']/df.loc[i]['면적'])
    df['인구밀도'] = T
    
def pop_par(df):  # 감염율 열 추가 함수
    P =[]
    for i in df.index:
        P.append(df.loc[i]['확진수']/df.loc[i]['인구']*100)
    df['감염율'] = P

In [ ]:
pop_den(df_tot)
pop_par(df_tot)
df_tot

In [ ]:
df_tot.info()

In [ ]:
df_tot.loc['총합'] = df_tot.iloc[:130,:5].sum()
df_tot.loc['평균'] = df_tot.iloc[:130,:].mean()

In [ ]:
df_tot.head()

In [ ]:
df_data=df_tot.copy()
df_data.drop(['총합','평균'],axis=0,inplace=True)

In [ ]:
df_data

In [ ]:
df_data.sort_values('확진수율')

In [ ]:
df_data.sort_values('사망수율')

In [ ]:
df_data.sort_values('검사수율')

In [ ]:
df_data.sort_values('인구밀도')

In [ ]:
df_data.사망수율.describe()

In [ ]:
df_data.to_csv('./df_data_137.csv')
df_tot.to_csv('./df_tot_137.csv')